@page
@using Microsoft.AspNetCore.Authorization
@model TRSB.Web.Pages.ProfileModel
@attribute [Authorize]

<h3>Profile</h3>

@if (!Model.IsEditMode)
{
    <div class="mb-3">
        <strong>Name:</strong>
        <div>@Model.Model.Name</div>
    </div>

    <div class="mb-3">
        <strong>Username:</strong>
        <div>@Model.Model.UserName</div>
    </div>

    <div class="mb-3">
        <strong>Email:</strong>
        <div>@Model.Model.Email</div>
    </div>

    <form method="post" asp-page-handler="EnableEdit">
        <button class="btn btn-primary w-100">Edit information</button>
    </form>
}
else
{
    <form method="post" asp-page-handler="Async">
        <div class="mb-3">
            <strong>Name:</strong>
            <div>@Model.Model.Name</div>
        </div>

        <div class="mb-3">
            <label class="form-label">UserName</label>
            <input asp-for="Model.UserName" class="form-control" />
            <span asp-validation-for="Model.UserName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input asp-for="Model.Email" class="form-control" />
            <span asp-validation-for="Model.Email" class="text-danger"></span>
        </div>

        <button class="btn btn-success w-100 mb-2">Save changes</button>
    </form>

    <form method="post" asp-page-handler="CancelEdit">
        <button class="btn btn-light w-100 mb-2">Cancel</button>
    </form>
}

<a asp-page="/Secure" class="btn btn-link w-100">Back to Secure Area</a>

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger text-center">@Model.Error</div>
}

@if (!string.IsNullOrEmpty(Model.Success))
{
    <div class="alert alert-success text-center">@Model.Success</div>
}
